@mixin flexAlign($hor: center, $vert: center, $pos: row) {
    display:flex;
    align-items: $hor;
    justify-content: $vert;
    flex-direction: $pos;
}




.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    background-color:rgba(black ,  .7);
    @include flexAlign();


    &__modal { 
        @include flexAlign($pos: column);
        background-color:white;
        padding: 40px 20px;
        width:35%;
        min-width:320px;


        .modal__field {
            width:100%;
            @include flexAlign(flex-start, flex-start, column);
            margin-bottom:20px;
            


            &-name {
                font-style: italic;
                font-size:15px;
                color:gray;

            }

            &-input {
                outline: none;
                width: 100%;
                height:20px;
                border:1px solid gray;
                border-radius: 3px;
                padding-left: 7px;
                font-size:18px;

            }

            &-button {
                padding: 10px 20px;
                background-color:lightblue;
                font-size:18px;
                cursor: pointer;
                border:2px solid gray;
                box-sizing:border-box;
                transition: .3s;
                box-shadow: 0 0 7px 0 black;

                &:hover {
                    box-shadow: 0 0 0 0 transparent;
                }

            }
        }

    }
}